*{
  /* border: thin red solid; */
  box-sizing: border-box;
  color: rgb(63, 63, 63);
}

body {
  font: 16px Helvetica, Arial, sans-serif;
  padding: none;
  margin: 0px;
  height: 100vh;
}

/* Chat Box */
#chat {
  width: 100%;
  position: relative;
  bottom: 0px;
  border: 2px rgb(88, 105, 128) solid;
 
}

.input-field {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  bottom: 0px;
  left: 0px;
  border: 2px rgb(88, 105, 128) solid; 
  background-color: white;
  padding: 5px;

}

.input-field form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  border: 0;
  padding: 10px;
  width: 79%;
  margin-right: 0.5%;
  background-color: rgb(240, 240, 240);
}

form button {
  background: rgb(59, 76, 99);
  color: white;
  font-weight: 100;
  font-size: large;
  border: none;
  padding: 6px;
}

#messages {
  list-style-type: none;
  /* overflow: scroll; */
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.messages-wrapper {
  background-color: rgb(248, 248, 248);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 75px;
}

#messages li {
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
  word-wrap: break-word;
}
#messages li  {
  background: rgb(243, 243, 243);
  align-self: flex-start;
}

#messages li.ownMessage {
  background: rgb(225, 243, 255);
  text-align: right;
  align-self: flex-end;
}

#status {
  font-size: 10px;
  color: rgb(21, 33, 61);
  height: 18px;
  width: 100%;
}

.change-name {
  height: 10px;
}

.tools {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

@media (min-width: 550px) {
  #chat {
    width: 550px;
  }

  .input-field {
    width: 550px;
  }
}



